doctype html
html.start
  head
    block title
        title Павел Медников — Веб-дизайнер и front-end разработчик

    meta(charset="UTF-8")
    meta(
        name="HandheldFriendly" 
        content="true"
    )
    meta(
        name="MobileOptimized" 
        content="320"
    )
    meta(
        name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )

    block meta

    link(
        rel="image_src" 
        href=""
    )
    link(
        rel="shortcut icon" 
        href="../favicon.ico"
    )

    meta(
        property="og:site_name" 
        content=""
    )
    meta(
        property="og:title" 
        content=""
    )
    meta(
        property="og:description" 
        content=""
    )
    meta(
        property="og:locale" 
        content="ru-RU"
    )
    meta(
        property="og:image" 
        content=""
    )

    //- Fonts
    link(
        href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Playfair+Display:400,400i,700,700i&subset=cyrillic' 
        rel='stylesheet' 
        type='text/css'
    )
    link(
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    )
    //[if IE 7]
    link(
        rel="stylesheet" 
        href="../plugins/font-awesome-4.5.0/css/font-awesome-ie7.min.css"
    )
    //[endif]

    //- Styles
    link(
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
        crossorigin="anonymous"
    )
    link(
        rel="stylesheet" 
        href="../css/style.css"
    )
    //[if IE]
    link(
        rel="stylesheet" 
        href="../css/style-IE.css"
    )
    //[endif]
    block styles

    //- Scripts
    script(src="../js/jquery-1.11.3.min.js")
    script(src="../js/init.js")
    script(
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" 
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
        crossorigin="anonymous"
    )
    //- HTML5 shim, for IE6-8 support of HTML5 elements
    //[if lt IE 9]
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //[endif]


    //HEADER
    block header
        header
            .container-fluid
                .row.align-items-center
                    .col-12.col-sm
                        //- h1#mainLogo: a(href=""): img(src="../img/logo.svg", alt="").svg 
                        h1#mainLogo: a(href="")
                            svg(
                                version="1.1" 
                                id="logo" 
                                xmlns="http://www.w3.org/2000/svg" 
                                xmlns:xlink="http://www.w3.org/1999/xlink" 
                                x="0px" 
                                y="0px"
                                viewBox="0 0 186 188" 
                                enable-background="new 0 0 186 188" 
                                xml:space="preserve"
                            )
                                g
                                    polygon(points="40.5,137.2 72.7,128.6 72.7,96.5 40.5,105.1")
                                    polygon(points="4.4,183.1 36.5,142.4 4.4,151")
                                    polygon(points="40.5,64.8 72.7,56.2 72.7,24.1 40.5,32.7")
                                    polygon(points="4.4,74.5 36.5,65.9 36.5,33.8 4.4,42.4")
                                    polygon(points="4.4,110.7 36.5,102.1 36.5,70 4.4,78.6")
                                    polygon(points="4.4,146.9 36.5,138.3 36.5,106.2 4.4,114.8")
                                    polygon(points="112.9,45.5 145.1,36.8 145.1,4.7 112.9,13.3")
                                    polygon(points="76.7,55.1 108.9,46.5 76.7,23")
                                    polygon(points="76.7,91.3 108.9,82.7 108.9,50.6 76.7,59.2")
                                    polygon(points="76.7,127.5 108.9,86.8 76.7,95.4")
                                    polygon(points="149.1,3.6 149.1,35.8 181.3,27.1")
                                    polygon(points="149.1,71.9 181.3,63.3 181.3,31.2 149.1,39.8")
                                    polygon(points="181.3,99.5 181.3,67.4 149.1,76")

                    //- .col.col-md-auto
                        ul.nav
                            li.nav-item.active
                                a(href="#").nav-link Проекты
                            li.nav-item
                                a(href="#").nav-link Обо мне
                            li.nav-item
                                a(href="#").nav-link Контакты
                    .col-12.col-sm.text-right.write
                        a(href="mailto:pavelnerd@gmail.com?subject=Весточка с сайта-портфолио")
                            .fa.fa-paper-plane 
                            | Написать письмо 
    //END HEADER

    //CONTENT
    block content
    //END CONTENT

    //FOOTER
    block footer
        footer
            .container-fluid
                .row.justify-content-center
                    .col-6.text-center
                        p: small: strong &copy; 2017 Павел Медников
    //END FOOTER


    block scripts
        


